<div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <span class="text-muted">Toggleable via the navbar brand.</span>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
                
                    <a class="text-white" href="{%  url 'home' %}">Home <span class="sr-only">(current)</span></a>
                
                    <a class="text-white" href="{% url 'accounts:login' %}">Sign In</a>
                
                    <a class="text-white" href="{% url 'signup' %}">Sign Up</a>
                
                    <a class="text-white" href="{% url 'index' %}">Tasks</a>

               
          
        </nav>
        
</div>